h3 {
    font-size: 22px;
    color: #3a3a3a;
}

.index-body {
    width: 100%;
    background: #f5f5f5;
}

.index-content {
    width: 1200px;
    margin: 0 auto;
}
/*************************section01**********************************/
.section01 {
    height: 97px;
    border: 1px solid #dedede;
    border-top: none;
    box-sizing: border-box;
    background: #fff;
}

.sec01-login {
    float: left;
    margin: 13px 0;
}

.sec01-login dt {
    float: left;
    margin-left: 22px;
}

.sec01-login dd {
    float: left;
    padding: 10px 20px 8px 20px;
    border-right: 1px solid #dedede;
}

.sec01-text {
    color: #a4a4a4;
    height: 15px;
    line-height: 15px;
}

.sec01-text a {
    display: inline-block;
    text-decoration: underline;
    color: #3a3a3a;
}

.sec01-text span {
    display: inline-block;
    padding-left: 20px;
}

.sec01-desc {
    width: 58px;
    line-height: 18px;
    height: 18px;
    color: #ca151d;
    border: 1px solid #ca151d;
    float: left;
    text-align: center;
    margin-right: 14px;
    margin-top: 7px;
    cursor: pointer;
}

.sec01-desc:hover {
    background: #ca151d;
    color: #fff;
}

.sec01-img {
    float: left;
    padding: 25px 27px 16px 22px;
    border-right: 1px solid #dedede;
}

.sec01-img dl {
    float: left;
    margin-right: 40px;
}

.sec01-img dl:last-of-type {
    margin-right: 0;
}

.sec01-img dd {
    color: #3a3a3a;
    text-align: center;
}

.sec01-img a:hover {
    color: #ca151d;
}

.sec01-img img {
    display: inline-block;
}

.sec01-img-size {
    width: 58px;
    height: 40px;
    text-align: center;
}

.sec01-notes {
    width: 317px;
    float: left;
}

.notes-list {
    width: 100%;
    height: 48px;
    border-top: 1px solid #dedede;
}

.sec01-notes dl {
    float: left;
    margin-right: 30px;
    padding-top: 17px;
}

.sec01-notes dl:first-of-type {
    padding-left: 15px;
}

.sec01-notes dt {
    float: left;
}

.sec01-notes dd {
    float: left;
}

.all-notes a {
    color: #3a3a3a;
    padding-left: 8px;
}

/************************************/
.notes-list {
    width: 100%;
    height: 48px;
}

.notes-list span {
    color: #ca151d;
    font-size: 13px;
    height: 13px;
    line-height: 13px;
    font-weight: bold;
    float: left;
    padding: 19px 14px 0 13px;
}

.notes-list .notes-slider {
    overflow: hidden;
    height: 48px;
    width: 248px;
    float: left;
    position: relative;
    margin-top: 2px;
}

.all-list {
    position: absolute;
    top: -48px;
    z-index: 20;
}

.all-list li {
    width: 260px;
}

.all-list a {
    color: #3a3a3a;
    height: 48px;
    line-height: 48px;
}

.all-list a:hover {
    color: #ca151d;
}

.all-notes {
    border-top: 1px solid #dedede;
}

/*************************section02****************************/

.section02 {
    margin: 12px 0 19px 0;
    height: 160px;
}

.sec02-img-list a {
    float: left;
}
.sec02-img-list li {
    float: left;
    margin-right: 12px;
}

.sec02-img-list li:last-of-type {
    margin: 0;
}

.sec02-img {
    transition: box-shadow 1s ease-in-out;
}

.sec02-img:hover {
    box-shadow: 0 10px 40px #dedede;
}

/************************section03*********************************/
.section03 {
    margin-bottom: 17px;
}

.title-name {
    height: 48px;
    line-height: 48px;
    font-weight: normal;
}

.pic-left {
    float: left;
    position: relative;
}

.move-shadow {
    transition: top 1s ease-in-out, box-shadow .5s ease-in-out;
}

.move-shadow:hover {
    top: -1px;
    box-shadow: 0 20px 40px #e8e8e8;
}

.pic-right {
    float: left;
    margin-left: 10px;
}

.pic-right-top {
    margin-bottom: 10px;
}

.pic-right-bottom {
    margin: 0;
}

.sec03-dl {
    float: left;
    margin-right: 10px;
    position: relative;
    transition: top 1s ease-in-out, box-shadow .2s ease-in-out;
}

.sec03-dl:last-child {
    margin: 0;
}

.sec03-dl:hover {
    top: -2px;
    box-shadow: 0 10px 20px #dedede;
}

.sec03-dl dd {
    background: #fff;
    padding-bottom: 24px;
}

.sec03-dl p {
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.sec03-dt {
    width: 232px;
    height: 200px;
    background: #fff;
    text-align: center;
}

.sec03-dt span {
    display: inline-block;
    height: 200px;
    width: 0;
    vertical-align: middle;
}

.sec03-dt img {
    display: inline-block;
    vertical-align: middle;
}

.main-notes a{
    color: #3a3a3a;
}

.sub-notes a{
    color: #a4a4a4;
}

.price a{
    color: #ca151d;
}

/*************************section04*****************************/

.section04 {

}

.img-slider {
    width: 100%;
    height: 290px;
    overflow: hidden;
    position: relative;
}

.sec04-ul {
    width: 1970px;
    position: absolute;
}

.sec04-ul li {
    float: left;
    margin-right: 1px;
}

.sec04-ul li:last-of-type {
    margin: 0;
}

.sec04-dl {
    width: 218px;
    height: 290px;
    background: #fff;
    position: relative;
    transition: box-shadow .2s ease-in-out;
}

.sec04-dl:hover {
    box-shadow: 0 10px 20px #dedede;
    transform: translate(0, -2px);
}

.sec04-dt {
    height: 204px;
    text-align: center;
}

.sec04-dt img {
    display: inline-block;
    vertical-align: middle;
}

.sec04-dt span {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 204px;
}

.sec04-dd {
    height: 86px;
}

.sec04-dd p {
    text-align: center;
    height: 12px;
    line-height: 12px;
}

.sec04-dd p:nth-of-type(2) {
    margin: 10px 0 15px;
}

.btn {
    width: 24px;
    height: 75px;
    position: absolute;
    top: 108px;
    background: rgba(0,0,0,.2);
    z-index: 10;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.btn span {
    width: 11px;
    height: 16px;
    position: absolute;
    left: 6px;
    top: 28px;
}

.left-btn span{
    background: url("../images/left-btn.png") no-repeat;
}

.right-btn span{
    background: url("../images/right-btn.png") no-repeat;
}

.allowed {
    cursor: pointer;
}

.forbidden {
    cursor: not-allowed;
}
